.sectionselectcourse {
    display: inline-block;
    width: 250px;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sectionselectcourse option {
    display: block;
    width: 250px;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
}