{% if course.coursehandout_set.public %}{% spaceless %}
    <p>
        <strong>
            {{ label_prefix }}
            {% if coursehandout_title %}
                {% if course.coursehandout_set.public|length != 1 %}
                    <span>{{ coursehandout_title_plural|title }}</span>
                {% else %}
                    <span>{{ coursehandout_title|title }}</span>
                {% endif %}
            {% else %}
                <span>Handout{{ course.coursehandout_set.active|pluralize }}</span>
            {% endif %}
        </strong>:
        {% if course.coursehandout_set.public|length > 1 %}
            <ul class="simple">
                {% for coursehandout in course.coursehandout_set.public %}
                    <li>
                        <a href="{{ coursehandout.get_absolute_url }}">
                            {{ coursehandout.label|capfirst }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            {% with coursehandout=course.coursehandout_set.public.0 %}
                <a href="{{ coursehandout.get_absolute_url }}">
                    {{ coursehandout.label|capfirst }}
                </a>
            {% endwith %}
        {% endif %}
    </p>
{% endspaceless %}{% endif %}
