{% extends "classes/__base.html" %}

{# ########################################### #}



{% block page_title %}Section List{% endblock %}
{% block title %}Section List{% endblock %}

{# ########################################### #}


{% block content %}

{% if object_list %}
    <p>
        Select an instructor for more details.
    </p>
    <ul class="simple">
        {% for object in object_list %}
            <li>
                <a href="{% url 'classes-instructor-detail' slug=object.slug %}">
                    {{ object }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>
        There are no instructors available.
    </p>
{% endif %}




{% endblock %}




{# ########################################### #}
