{% extends "classes/__base.html" %}

{# ########################################### #}



{% block page_title %}{{ course.label }}{% endblock %}
{% block title %}{{ course.label }}{% endblock %}

{# ########################################### #}


{% block content %}

    {% include 'classes/includes/course_detail.html' %}
    {% include 'classes/includes/course_detail_extra.html' %}
    {% include 'classes/includes/course_section_list.html' with section_list=course.section_set.active.advertised_terms %}

{% endblock %}


{# ########################################### #}

{% block page_breadcrumbs %}
    <span class="divider">&gt;</span>
    {{ course.label }}
{% endblock page_breadcrumbs %}

{# ########################################### #}
