{% extends "classes/__base.html" %}

{# ########################################### #}



{% block page_title %}Departments{% endblock %}
{% block title %}Departments{% endblock %}

{# ########################################### #}


{% block content %}

{% if object_list %}
    <p>
        Click on a department to see the list of available courses
    </p>
    <ul class="simple">
        {% for object in object_list %}
            <li>
                <a href="{{ object.get_absolute_url }}">
                    {{ object }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>
        There are no departments available.
    </p>
{% endif %}




{% endblock %}




{# ########################################### #}
